<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	<variable name="logDirectory" value="..\logs"/>
	<variable name="site" value="api"/>
	<targets>
		<target xsi:type="File" name="fileInfo" fileName="${logDirectory}\${site}\${site}_info.log"
				layout="date=${date:useUTC=true},level=${level},${message}"
				archiveFileName="${logDirectory}\${site}\archives\${site}_info.{#####}.txt" archiveAboveSize="1048576"
                archiveNumbering="Sequence" concurrentWrites="true"
                keepFileOpen="true" maxArchiveFiles="100" createDirs="true"/>
		<target xsi:type="File" name="fileError" fileName="${logDirectory}\${site}\${site}_errorfatal.log"
				layout="date=${date:useUTC=true},level=${level},${message},exception=${exception:innerFormat=ToString:maxInnerExceptionLevel=2:innerExceptionSeparator=#:separator=#:format=ToString,StackTrace}"
				archiveFileName="${logDirectory}\${site}\archives\${site}_errorfatal.{#####}.txt" archiveAboveSize="1048576"
                archiveNumbering="Sequence" concurrentWrites="true"
                keepFileOpen="true" maxArchiveFiles="100" createDirs="true"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="fileInfo" />
		<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="fileError" />
	</rules>
</nlog>